body {
   
  font-size: 13px;
  text-align: center;
  /*background: #b2e5e5;*/
  /*background: -webkit-linear-gradient(left top, #cecece, #fff, #c9c9c9); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(bottom right, #cecece, #fff, #c9c9c9); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(bottom right, #cecece, #fff, #c9c9c9); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to bottom right, #cecece, #fff, #c9c9c9); /* Standard syntax */
    /*background-color: #fff;*/
    background-image: url('../images/websitebodyback.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#page{
    width:1150px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.37);
    height: 100%;
    background-size: 100% 100%;
    box-shadow: 0px 0px 30px #5b903c;
    border-right: 5px solid #b7b7b7;
    border-left:  5px solid #b7b7b7;
    border-bottom: 5px solid #b7b7b7;
}
#triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 300px solid #bfe2da;
	border-left: 300px solid transparent;
}
#triangle-bottomright1 {
	width: 0;
	height: 0;
	border-bottom: 150px solid #bfe2da;
	border-left: 150px solid transparent;
}
#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 150px solid #bfe2da;
	border-right: 150px solid transparent;
}
#topmenunav1, #topmenunav2, #topmenunav3, #topmenunav4, #topmenunav5{
    color: #fff;
    padding:5px 5px;
    font-size: 13px;
    font-weight: bold;
}
#topmenunav1:hover, #topmenunav2:hover, #topmenunav3:hover, #topmenunav4:hover, #topmenunav5:hover{
    background-color: #1d9a0d;
    border-radius:2px;
    padding:5px 5px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
#footer{
    font-size:18px;
    color: #393939;
     
}
/*header css*/
#logo{
    float: left; width: 260px; height: 62px;
}
#logoimage{
    width: 80%; height: 80%; padding: 4px 4px;
}
header{
    
}
ul {
  text-align: left;
  float: right;
  display: inline;
  margin: 0;
  padding: 0px 4px 0px 0;
  background: #efefef;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a {
    text-decoration: none;
    color: #000;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

/*frames page*/
#container{
    width: 100%;
    margin: 0px auto;
    height: 600px;
    background-color: #f0f0f0;
}
#container2{
    width: 770px;
    margin: 10px auto;
    height: 650px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: none;
    border: 10px solid #367e3a;
}
#horizontalline{
    width:90%;
    height: 1px;
    background-color: #5f2d00;
}
#horizontal1{
    width:90%;
    height: 1px;
    background-color: #e3e3e3;
}
#doorboxfront{
    padding: 10px 10px;
}
#frontpagetextheading{
    font-size: 30px;
    color: #191919;
     
}
#frontpagetext{
    font-size: 20px;
    color: #1d1d1d;
     
}
#outerframe{
    /*background-image: url('../images/outerframe/of1.jpg');
    background-color: #bbffd1;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:100%;
    width: 435px;
    float: left;
}
#containerhomepage{
    width: 100%;
    margin: 70px auto;
    height: 100%;
    background-color: #fff;
}
#spanstrong{
    font-weight: bold;
    color: #416936;
}
#frameid{
    width: 800px;
    height: 100%;
    float: right;
    overflow-y: scroll;
    direction: rtl;
    background: -webkit-linear-gradient(left top, #f0f0f0 , #f0f0f0, rgba(191, 191, 191, 0.79), #f0f0f0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #f0f0f0 , #f0f0f0, rgba(191, 191, 191, 0.79), #f0f0f0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #f0f0f0 , #f0f0f0, rgba(191, 191, 191, 0.79), #f0f0f0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #f0f0f0 , #f0f0f0, rgba(191, 191, 191, 0.79), #f0f0f0); /* Standard syntax */
}
#frameid2{
    width: 50%;
    height: 500px;
    float: left;
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
    background-color: #fff;
}
#displaydoor{
    vertical-align: top; float: left; padding: 10px 50px; width: 270px;

    /*background-color: red;*/
}
#doorbox1{
    padding: 5px 5px;
    margin: 0px auto;
}
#doorbox2{
    padding: 5px 5px;
    float: left;
    margin-left: 20px;
    
}
#doorbox5{
    
    margin: 0px auto;
}
#doorbox4 table{
    margin: 0px auto;
}
#frame1 {
    width:140px;
    text-align:center;
    height: 190px;
    float: right;
    border: 2px solid #000;
    background-color: #fff;
}
#frame2 {
    width:200px;
    text-align:center;
    height: 370px;
    float: left;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame3 {
    width:270px;
    text-align:center;
    height: 394px;
    float: right;
    padding: 0px 0px 4px 0px;
    background-color: rgba(0, 0, 0, 0);
    /*border: 1px solid #727272;*/
}
#frame3 #beforecenter div.doorimage{
    background-image: url('../images/doors/D2/D0.jpg');
    height: 340px;
    width: 138px;
}
#frame4 {
    width:250px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame5 {
    width:250px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame6 {
    width:200px;
    text-align:center;
    height: 280px;
    float: left;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame7 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame8 {
    width:130px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame9 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame10 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame111 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame12 {
    width:130px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame13 {
    width:130px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame14 {
    width:200px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame15 {
    width:200px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame16 {
    width:200px;
    text-align:center;
    height: 370px;
    float: left;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame17 {
    width:250px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame18 {
    width:250px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame19 {
    width:250px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#defaultframe {
    width:250px;
    text-align:center;
    height: 370px;
    float: left;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#oval{
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 47px;
    width: 95%;
    border: 1px solid #9b9b9b;
}
#oval-default{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 47px;
    width: 95%;
    margin: 5px;
    border: 1px solid #9b9b9b;
}
#oval-f1{
    margin: 0 auto;
    height: 49px;
    width: 95%;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    background-color: rgba(255, 255, 255, 0);
    background-image: url('../images/ovalroundtop/G0.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#left {
    float:left;
    width:50px;
    height: 270px;
    margin:5px;
}

#center {
    display: inline-block;
    float: left;
    width:120px;
    height: 270px;
    margin:5px;
    background-image: url('../images/D1.jpg');
    background-size: 100% 100%;
    border: 1px solid #c6c6c6;
}
#center-f1 {
    display: inline-block;
    float: left;
    width:22%;
    height: 130px;
    margin:5px;
    background-color:#fff;
    /*background-image: url('../images/D-default.jpg');*/
    background-size: 100% 100%;
    border: 1px solid #c6c6c6;
}

#right {
    float:left;
    width:18%;
    height: 270px;
    margin:5px;  
}
#removepanel{
    background-color: #575757;
    /*background-image: url(../images/removepanel.jpg);*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    color: #fff;
    width:120px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #313131;
}
#showpanel{
    background-color: #575757;
    /*background-image: url(../images/showpanel.jpg);*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    color: #fff;
    width:120px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #313131;
}
#removewpanel{
    background-color: #575757;
    /*background-image: url(../images/removepanel.jpg);*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin-top:15px;
    color: #fff;
    width:120px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #313131;
    float: left;
}
#showwpanel{
    background-color: #575757;
    /*background-image: url(../images/showpanel.jpg);*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin-top:15px;
    color: #fff;
    width:120px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #313131;
    float: left;
}
#frontdoortextfinal{
    font-size:15px;
}
#rightt{
    background-color: #575757;
    /*background-image: url(../images/removepanel.jpg);*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    color: #fff;
    width:120px;
    height: 25px;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #313131;
}
#leftt{
    background-color: #575757;
    /*background-image: url(../images/removepanel.jpg);*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    color: #fff;
    width:120px;
    height: 25px;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #313131;
}
#glassleft1{
    height:185px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassleft1-f10{
    height:330px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassleft1-f5{
    height:330px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassleft1-f1{
    height:130px;
    width: 20px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassleft2{
    height:140px;
    width: 50px;
    margin-top: 2px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
    display: none;
}
#glassright1{
    height:185px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassright1-f5{
    height:330px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassright1-f7{
    height:330px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassright1-f1{
    height:130px;
    width: 20px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#tdglass2, #tdglass1 {
    background-color: #daf5f5;
}
#tdglassD4 div.glass {
    background-color: #daf5f5;
}
#doorglassdefault1{
    background-color: #daf5f5;
}
#glassright2{
    height:140px;
    width: 50px;
    margin-top: 2px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
   
}
#glassright22{
    height:140px;
    width: 50px;
    margin-top: 2px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
    display: none;
}
#glassleft22{
    height:140px;
    width: 50px;
    margin-top: 2px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
    display: none;
}
#glassleftdisplay1{
    height:170px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassleftdisplay2{
    height:110px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
    margin-top: 2px;
}
#glassrightdisplay1{
    height:185px;
    width: 50px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}
#glassrightdisplay2{
    height:110px;
    width: 50px;
    margin-top: 2px;
    background-image: url('../images/ovalglass/G0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #9b9b9b;
}

#doorcenter0, #doorcenter1, #doorcenter2, #doorcenter3, #doorcenter4, #doorcenter5, #doorcenter6, #doorcenter7, #doorcenter8, #doorcenter9, #doorcenter0, #doorcenter10, #doorcenter11, #doorcenter12, #doorcenter13, #doorcenter14, #doorcenter15, #doorcenter16, #doorcenter17, #doorcenter18, #doorcenter19{
    display: inline-block;
    float: left;
    width:45px;
    height: 100px;
    margin:5px;
    background-color: #fff;
    box-shadow: 0px 0px 1px #767676;
}
#framef1, #framef2, #framef3, #framef4, #framef5, #framef6, #framef7, #framef8, #framef9, #framef10, #framef11, #framef12, #framef13, #framef14, #framef15, #framef16, #framef17, #framef18, #framef19{
    display: inline-block;
    float: left;
    width:60px;
    height: 90px;
    margin:5px;
    background-color: #fff;
}
#glasscontainer{
    margin: 10px;
    height:70px;
    width: 40px;
    border: 1px solid #acacac;
    display: inline-block;
    float: left;
}
#glass1, #glass2, #glass3, #glass4, #glass5, #glass6, #glass7, #glass8, #glass9, #glass10, #glass111, #glass12, #glass13, #glass14, #glass15, #glass16, #glass17, #glass18, #glass19, #glass20, #glass21, #glass22, #glass23, #glass24, #glass25, #glass26, #glass27, #glass28, #glass29, #glass30, #glass31, #glass32, #glass33, #glass34, #glass35, #glass36{
    height:100%;
    width: 100%;
    background-color: #fff;
}
#glass1:hover, #glass2:hover, #glass3:hover, #glass4:hover, #glass5:hover, #glass6:hover, #glass7:hover, #glass8:hover, #glass9:hover, #glass10:hover, #glass111:hover, #glass12:hover, #glass13:hover, #glass14:hover, #glass15:hover, #glass16:hover, #glass17:hover, #glass18:hover, #glass19:hover, #glass20:hover, #glass21:hover, #glass22:hover, #glass23:hover, #glass24:hover, #glass25:hover, #glass26:hover, #glass27:hover, #glass28:hover, #glass29:hover, #glass30:hover, #glass31:hover, #glass32:hover, #glass33:hover, #glass34:hover, #glass35:hover, #glass36:hover{
    height:100%;
    width: 100%;
    background-color: #e5e5e5;
    opacity: 0.5;
    box-shadow: 0px 0px 1px #767676;
}

#panelcontainer1{
    margin: 10px;
    height:20px;
    width: 50px;
    display: inline-block;
    float: left;
}
#fixturetext{
     
    color: #000;
}
#outsideviewtext{
    margin-bottom:0px;
    font-size: 25px;
    margin:0px auto;
}
#outsideviewtextexp{
    margin-bottom:0px;
    font-size: 25px;
    margin:0px auto;
    width: 100%;
}
#outsideviewtextexpw{
    margin-bottom:0px;
    font-size: 25px;
    margin:0px auto;
    width: 140%;
}
#outsideviewtextexpwg{
    margin-bottom:0px;
    font-size: 25px;
    margin-left: 30px;
    width: 140%;
    text-align: left;
}
#outsideviewtext1{
    margin-bottom:0px;
    font-size: 18px;
    margin:0px auto;
    color: #696969;
}
#outsideviewtext11{
    margin-bottom:0px;
    font-size: 18px;
    margin:0px auto;
    color: #696969;
}
#outsideviewtext99{
    margin-bottom:0px;
    font-size: 18px;
    margin:0px auto;
    color: #696969;
}
#outsideviewtext2{
    font-size: 15px;
    font-weight: bold;
    margin:0px auto;
    color: #000;
    padding: 0px 10px 10px 0px;
    text-align: center;
}
#outsideviewtext2exp{
    font-size: 15px;
    font-weight: bold;
    margin:0px auto;
    color: #000;
    padding: 0px 10px 10px 0px;
    text-align: center;
    width: 100%;
}
#outsideviewtext2expw{
    font-size: 15px;
    font-weight: bold;
    margin:0px auto;
    color: #000;
    padding: 0px 10px 10px 0px;
    text-align: center;
    width: 140%;
}
#outsideviewtext2expwg{
    font-size: 15px;
    font-weight: bold;
    margin:0px auto;
    color: #000;
    margin-left: 30px;
    text-align: center;
    width: 140%;
    text-align: left;
}
#panel1, #panel2, #panel3, #panel4, #panel5{
    height:100%;
    width: 100%;
}
#doorglassdefault1{
    background-image: url('../images/bluebck.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#doorglassdefault{
    background-image: url('../images/bluebck.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#panelcontainer2{
    margin: 10px;
    height:40px;
    width: 60px;
    display: inline-block;
    float: left;
}
#Hpanel1, #Hpanel2, #Hpanel3, #Hpanel4, #Hpanel5{
    height:100%;
    width: 100%;
}
#Hpaneldefault{
    height:100%;
    width: 100%;
}
#panelcontainerdefault{
    margin: 10px;
    height:50px;
    width: 50px;
    display: inline-block;
    float: left;
}
#panelcontainer3{
    margin: 10px;
    height:40px;
    width: 60px;
    display: inline-block;
    float: left;
}
#Kpanel1, #Kpanel5, #Kpanel2, #Kpanel3, #Kpanel4{
    height:100%;
    width: 100%;
}
#frametitle{
    font-size:18px;
     
    /*background-color: #d4fac6;*/
    border-bottom-color: #bfbfbf;
    border-bottom-width: 1px;
    border-bottom-style:ridge;
    text-align:center 
}
#frametitle2{
    font-size:25px;
    height:40px;
     
    color: #000;
    /*background-color: rgba(255, 255, 255, 0.69);*/
    background-image: url('../images/ribbon.png');
    background-size:100% 100%;

}
#doorsection{
    font-size:20px;
}
/*frames page end*/

/*Home page start*/
#homepagefont{
    font-size: 30px;
    color: #5d5d5d;
}
.colorbutton{
    width: 60px;
    height: 55px;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    font-size: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.arrowbtn{
    height: 10px; 
    width: 20px;
    /*background-image: url('../images/arrow.png');*/
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    outline:0;
    border:0;
    opacity: 0.9;
    /*border: 1px solid #a3a3a3;*/
}
.showbutton{
    height:30px; 
    width: 140px;
    background-color: #087b2e;
    /*background-color: rgba(255, 255, 255, 0);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    outline:0;
    border:0;
    opacity: 0.9;
    box-shadow: 0 0 5px #000;
    border: 3px solid #adadad;
    /*border: 1px solid #a3a3a3;*/
}
.showbuttonnext{
    height:30px; 
    width: 140px;
    background-color: #087b2e;
    /*background-color: rgba(255, 255, 255, 0);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    outline:0;
    border:0;
    opacity: 0.9;
    box-shadow: 0 0 5px #000;
    border: 3px solid #adadad;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /*border: 1px solid #a3a3a3;*/
}
.showbuttonprev{
    height:30px; 
    width: 140px;
    background-color: #087b2e;
    /*background-color: rgba(255, 255, 255, 0);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    outline:0;
    border:0;
    opacity: 0.9;
    box-shadow: 0 0 5px #000;
    border: 3px solid #adadad;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /*border: 1px solid #a3a3a3;*/
}
.showbutton:hover{
    background-color: #0db547;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.showbuttonprev:hover{
    background-color: #0db547;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.showbuttonnext:hover{
    background-color: #0db547;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#finalizebtn, #wfinalizebtn{
    height: 30px; 
    width: 150px;
    background-color: #087b2e;
}
#finalizebtn:hover{
    opacity: 0.7;
}
#wfinalizebtn:hover{
    opacity: 0.7;
}
#topmenu{
    margin-bottom: 4px;  
}
#container3 #gobackdoor{
    width: 200px;
    height: 60px;
    margin: 0px auto;
}
#door11{
    /*background-image: url('../images/blkcircle1.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#door11:hover{
    opacity: 0.7;
}
#frame11{
    /*background-image: url('../images/blkcircle2.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#frame11:hover{
    opacity: 0.7;
}
#glass11{
    /*background-image: url('../images/blkcircle3.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#glass11:hover{
    opacity: 0.7;
}
#panel11{
    /*background-image: url('../images/blkcircle4.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#panel11:hover{
    opacity: 0.7;
}
#handleright{
    margin: 10px;
    height:50px;
    width: 100px;
    display: inline-block;
    float: left;
}
#rightt{
    margin: 10px;
    height:50px;
    width: 70px;
    display: inline-block;
    float: left;
    font-size: 17px;
}
#rightt:hover, #leftt:hover{
    background-color: #000;
}
#rightt1{
    margin: 10px;
    height:40px;
    width: 60px;
    display: inline-block;
    float: left;
    color: #000;
    background-color: #bcbcbc;
}
#leftt1{
    margin: 10px;
    height:40px;
    width: 60px;
    display: inline-block;
    float: left;
    color: #000;
    background-color: #bcbcbc;
}
#rightt1:hover, #leftt1:hover{
    background-color: #000;
    color:#fff;
}
#handleleft{
    margin: 10px;
    height:50px;
    width: 100px;
    display: inline-block;
    float: left;
}
#leftt{
    margin: 10px;
    height:50px;
    width: 70px;
    display: inline-block;
    float: left;
    font-size: 17px;
}
#finalizebtn{
    /*background-image: url('../images/blkcircle5.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
<!--#frame3 .glass:hover{
    opacity: 0.5;
    background-color: #c3a6a6;
}-->

#frame3 div#beforecenter:hover > #doorpanel1D1, #doorpanel2D1:hover, #doorpanel3D1:hover{
    background-color: #fa0c0c;
    opacity: 0.7;
}
#doortext{
    visibility: hidden;
}
#frame3 #frame3back{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 4px 0px 0px 0px;
}
#topcart{
    width: 100%;
}
#topcart #table1{
   float: left;
}

#topcart #table2{
   float: right;
}
#viewcart1{
    background-color: #296c12;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:140px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid #adadad;
    box-shadow: 0px 0px 10px #414141;
}
#viewcart1:hover{
    opacity: 0.8;
}
#checkout1{
    background-color: #296c12;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:180px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #009824;
    box-shadow: 0px 0px 5px #414141;
}
#checkout122{
    background-color: #296c12;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:140px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    border: 3px solid #adadad;
    box-shadow: 0px 0px 5px #414141;
}
#gooutlastpg{
    background-color: #296c12;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:140px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    border: 3px solid #adadad;
    box-shadow: 0px 0px 5px #414141;
}
#checkout1:hover{
    opacity: 0.8;
}
#textbox{
    vertical-align: top;
}
#container2-2 {
    height: 100%;
    width: 40%;
    background: #e7f4e9;
    font-size: 20px;
    font-style: oblique;
    color: #000;
    text-align: center;
    margin-top: 1px;
    margin-left: 5px;
    display: table-cell;
    float:right;
    vertical-align: middle;
}
#container2-2 table tr td{
    width:30px;
}
#outerframe{
          float:left;
}
#textboxtext{
   padding: 5px 5px;
    margin-top: 10px;
    float:right;
    width: 50px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: top;
    background-color: #e7f4e9;
}
#labeltext{
    margin-top: 20px;
    float:left;
    font-size: 15px;
    font-style: normal;
}
#getkotes{
    background-color: #fff;
}
#textboxtext1{
   margin-top: 20px;
   padding: 10px 10px;
    float:right;
    width: 200px;
    font-size: 15px;
    background-color: #e7f4e9;
}
.textboxtext4, .textboxtext5{
    background-color: #e7f4e9;
}
#selectboxfinal{
    margin-top: 20px;
   padding: 10px 10px;
    float:right;
    width: 100%;
    font-size: 20px;
    background-color: #edfff0;
}
#labeltext1{
    padding: 10px 10px;
    margin-top: 20px;
    float:left;
    font-size: 15px;
    
}
.labelclass{
    padding: 10px 10px;
    background-color: #fff;
    background-size: 100% 100%;
    font-size: 30px;
    background-color: #edfff0;
    width: 100%;
}
.textclass{
    background-color: #e6ffe6;
}
#textareartxt{
    margin-top: 20px;
    width: 90%;
    height:90px;
    padding: 10px 10px;
    float: left;
    background-color: #e7f4e9;
}
#formsubmit{
          vertical-align:bottom;
}
#photofield {
          padding: 40px 20px;
}
#formsubmit{
    /*background-image: url('../images/btnback.png');*/
}
#editdoorbtn{
    /*background-image: url('../images/btnback.png');*/
}
#submitform{
    background-color: #2b640b;
    height: 40px;
    width: 200px;
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
    border: none;
}
#submitform:hover{
    background-color: #429f0e;
}
#showimg:hover{
    opacity: 0.5;
}
#colortxt{
    color: #454444;
    font-size: 14px;
    text-align: center;
}

/*glass styling starts here*/
#wframef1, #wframef2, #wframef3, #wframef4, #wframef5, #wframef6, #wframef7, #wframef8, #wframef9, #wframef10, #wframef11, #wframef12, #wframef13, #wframef14, #wframef15, #wframef16, #wframef17, #wframef18, #wframef19, #wframef20, #wframef21, #wframef22, #wframef23, #wframef24, #wframef25, #wframef26, #wframef27, #wframef28, #wframef29, #wframef30, #wframef31, #wframef32, #wframef33, #wframef34, #wframef35, #wframef36, #wframef37, #wframef38, #wframef39, #wframef40, #wframef41, #wframef42 , #wframef43 , #wframef44 , #wframef45 , #wframef46 , #wframef47, #wframef555, #wframef355, #wframef366, #wframef61, #wframef62, #wframef63, #wframef64{
    box-shadow: 0px 0px 1px #000;
    display: inline-block;
    float: left;
    width:50px;
    height: 60px;
    margin:5px;
}
#windowframe3 {
    width:255px;
    text-align:center;
    height: 320px;
    float: right;
    background-image: url(../windowimages/windowback.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #727272;
}
#window1table, #window2table{
    width:200px; height:350px; border: 10px solid #e6e6e6; border-right-color:#989898; border-bottom-color:#989898; margin:0px auto; background-color:#7b7b7b;
}
#wpanel{
   background-image: url(../windowimages/wpanel.png);
   width:50px;
    height:50px;
}
#window1, #window2, #window3, #window4, #window5, #window6, #window7, #window8, #window9, #window10, #window11, #window12, #window13, #window14, #window15, #window16{
    margin-right:20px;
}
#divintable14, #divintable15{
    width:76%; height:100%; border: 10px solid #f4f4f4; border-right-color:#767676; border-bottom-color:#5a5a5a; background-color:#ade1e8;
}
#divintable16{
    width:77%; height:100%; border: 10px solid #f4f4f4; border-right-color:#767676; border-bottom-color:#5a5a5a; background-color:#ade1e8;
}
#wglass, #wframe, #wfinalizebtn, #weditdoorbtn{
    /*background-image: url('../images/btnback.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.windowglassbk{
    background-image:url('../windowimages/windowback.jpg'); background-repeat:no-repeat; background-size:100% 100%;
}
.windowglassbktt{
    background-image:url('../windowglassimages/windowbacktt.png'); background-repeat:no-repeat; background-size:100% 100%;
}

/*Windowglass styling starts here*/
#wgframef1, #wgframef2, #wgframef3, #wgframef4, #wgframef5, #wgframef6, #wgframef7, #wgframef8, #wgframef9, #wgframef10, #wgframef11, #wgframef12, #wgframef13, #wgframef14, #wgframef15, #wgframef16, #wgframef17, #wgframef18, #wgframef19, #wgframef20, #wgframef21, #wgframef22, #wgframef33, #wgframef44, #wgframef66, #wgframef77, #wgframef88, #wgframef99, #wgframef101, #wgframef111, #wgframef121, #wgframef222, #wgframef232, #wgsashframef1, #wgsashframef2, #wgsashframef3, #wgsashframef4, #wgsashframef5, #baywindowframef1, #baywindowframef2, #baywindowframef3, #baywindowframef4, #baywindowframef5, #baywindowframef6, #wgframef12e, #wgframef6e, #wgframef66e, #wgframef7e, #wgframef10e, #wgframef101e, #wgframef11e, #wgframef111e, #wgframef1extra, #wgframef2extra, #wgframef3extra, #wgframef4extra, #wgframef5extra, #wgframef6extra, #wgframef7extra, #wgframef8extra, #wgframef9extra, #wgframef10extra, #wgframef11extra, #wgframef12extra, #wgframef13extra, #wgframef14extra, #wgframef15extra, #wgframef16extra, #wgframef17extra, #wgframef18extra, #wgframef19extra, #wgframef20extra, #wgframef21extra, #wgframef22extra, #wgframef23extra, #wgframef24extra, #wgframef25extra, #wgframef26extra, #wgframef27extra, #wgframef28extra, #wgframef29extra, #wgframef30extra, #wgframef31extra, #wgframef32extra, #wgframef33extra, #wgframef34extra, #wgframef35extra, #wgframef36extra, #wgframef37extra, #wgframef38extra, #wgframef39extra, #wgframef40extra, #wgframef41extra, #wgframef42extra, #wgframef43extra, #wgframef44extra, #wgframef45extra, #wgframef46extra, #wgframef47extra, #wgframef48extra, #wgframef49extra, #wgframef50extra, #wgframef51extra, #wgframef52extra, #wgframef53extra, #wgframef54extra, #wgframef55extra, #wgframef56extra, #wgframef57extra, #wgframef58extra, #wgframef59extra, #wgframef60extra, #wgframef61extra, #wgframef62extra, #wgframef63extra, #wgframef64extra, #wgframef65extra, #wgframef66extra, #wgframef67extra, #wgframef68extra, #wgframef69extra, #wgframef70extra, #wgframef71extra, #wgframef72extra, #wgframef73extra, #wgframef74extra, #wgframef75extra, #wgframef76extra, #wgframef77extra, #wgframef78extra, #wgframef79extra, #wgframef80extra, #wgframef81extra, #wgframef82extra, #wgframef83extra, #wgframef84extra, #wgframef85extra {
    box-shadow: 0px 0px 1px #000;
    display: inline-block;
    float: left;
    width:45px;
    height: 66px;
    margin:5px;
}
/*window glass styling end*/

#usedforhover{
    height:100%;
    width:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#usedforhoverglass{
    height:100%;
    width:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#usedforhoverpanel{
    height:100%;
    width:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#right .glass{
    background-image: url('../images/ovalglass/G0.jpg');
    background-color: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#left .glass{
    background-image: url('../images/ovalglass/G0.jpg');
    background-color: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#hiddenhandle{
    width:40px;
    height:40px;
    float:right;
    display: none;
}
#hiddenhandler{
    width:40px;
    height:40px;
    float:right;
    display: none;
}
#hiddenhandlel{
    width:40px;
    height:40px;
    float:left;
    display: none;
}
#hiddenletter{
    width:60px;
    height:10px;
    display: none;
    margin: 0px auto;
}
#hiddenhandlel:hover {
    width:40px;
    height:40px;
}
#hiddenhandler:hover {
    width:40px;
    height:40px;
}
#hiddenhandle:hover {
    background-color: red;
    width:40px;
    height:40px;
}
#hiddenletter:hover {
    background-color: red;
    width:60px;
    height:10px;
}
#doorpanel3D9{
    margin-top: -20px;
}
#doorpanel1D9{
    margin-top: -20px;
}
#imgbtn{
    background-color: #000;
}
.deletebutton{
        background-image: url('../images/deletee.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px #05B7FF; 
    -webkit-border-radius: 10px;
    background:#CBD5D7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb  {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*background: #05B7FF; */
    
    background: -webkit-linear-gradient(left top, #271300, #fff, #271300, #fff, #271300, #fff, #271300); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #271300, #fff, #271300, #fff, #271300, #fff, #271300); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #271300, #fff, #271300, #fff, #271300, #fff, #271300); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #271300, #fff, #271300, #fff, #271300, #fff, #271300); /* Standard syntax */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover  {
    /*background: rgba(255,0,0,0.4); */
    background: -webkit-linear-gradient(left top, #000, #fff, #000, #fff, #000, #fff, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000, #fff, #000, #fff, #000, #fff, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #000, #fff, #000, #fff, #000, #fff, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000, #fff, #000, #fff, #000, #fff, #000); /* Standard syntax */
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
HTML,BODY
 { color:black;
   scrollbar-face-color:#05B7FF;
   scrollbar-arrow-color:#05B7FF;
   scrollbar-track-color:#CBD5D7;
   scrollbar-shadow-color:#05B7FF;
   scrollbar-highlight-color:#05B7FF;
   scrollbar-3dlight-color:#808080;
   scrollbar-darkshadow-Color:#202020;
 }

@media screen and (max-width: 1250px) {
    #page {
        width: 1000px;
    }
    #frameid{
        width:500px;
    }
    .colorbutton{
        width:40px; height:40px;
    }
    #colortxt{
        font-size: 12px;
    }
    #wframef1, #wframef2, #wframef3, #wframef4, #wframef5, #wframef6, #wframef7, #wframef8, #wframef9, #wframef10, #wframef11, #wframef12, #wframef13, #wframef14, #wframef15, #wframef16, #wframef17, #wframef18, #wframef19, #wframef20, #wframef21, #wframef22, #wframef23, #wframef24, #wframef25, #wframef26, #wframef27, #wframef28, #wframef29, #wframef30, #wframef31, #wframef32, #wframef33, #wframef34, #wframef35, #wframef36, #wframef37, #wframef38, #wframef39, #wframef40, #wframef41, #wframef42 , #wframef43 , #wframef44 , #wframef45 , #wframef46 , #wframef47, #wframef555, #wframef355, #wframef366, #wframef61, #wframef62, #wframef63, #wframef64{
    display: inline-block;
    float: left;
    width:50px;
    height: 60px;
    margin:5px;
    }
    #framef1, #framef2, #framef3, #framef4, #framef5, #framef6, #framef7, #framef8, #framef9, #framef10, #framef11, #framef12, #framef13, #framef14, #framef15, #framef16, #framef17, #framef18, #framef19{
    display: inline-block;
    float: left;
    width:50px;
    height: 60px;
    margin:5px;
    background-color: #fff;
}
#wgframef1, #wgframef2, #wgframef3, #wgframef4, #wgframef5, #wgframef6, #wgframef7, #wgframef8, #wgframef9, #wgframef10, #wgframef11, #wgframef12, #wgframef13, #wgframef14, #wgframef15, #wgframef16, #wgframef17, #wgframef18, #wgframef19, #wgframef20, #wgframef21, #wgframef22, #wgframef33, #wgframef44, #wgframef66, #wgframef77, #wgframef88, #wgframef99, #wgframef101, #wgframef111, #wgframef121, #wgframef222, #wgframef232, #wgsashframef1, #wgsashframef2, #wgsashframef3, #wgsashframef4, #wgsashframef5, #baywindowframef1, #baywindowframef2, #baywindowframef3, #baywindowframef4, #baywindowframef5, #baywindowframef6, #wgframef12e, #wgframef6e, #wgframef66e, #wgframef7e, #wgframef10e, #wgframef101e, #wgframef11e, #wgframef111e, #wgframef1extra, #wgframef2extra, #wgframef3extra, #wgframef4extra, #wgframef5extra, #wgframef6extra, #wgframef7extra, #wgframef8extra, #wgframef9extra, #wgframef10extra, #wgframef11extra, #wgframef12extra, #wgframef13extra, #wgframef14extra, #wgframef15extra, #wgframef16extra, #wgframef17extra, #wgframef18extra, #wgframef19extra, #wgframef20extra, #wgframef21extra, #wgframef22extra, #wgframef23extra, #wgframef24extra, #wgframef25extra, #wgframef26extra, #wgframef27extra, #wgframef28extra, #wgframef29extra, #wgframef30extra, #wgframef31extra, #wgframef32extra, #wgframef33extra, #wgframef34extra, #wgframef35extra, #wgframef36extra, #wgframef37extra, #wgframef38extra, #wgframef39extra, #wgframef40extra, #wgframef41extra, #wgframef42extra, #wgframef43extra, #wgframef44extra, #wgframef45extra, #wgframef46extra, #wgframef47extra, #wgframef48extra, #wgframef49extra, #wgframef50extra, #wgframef51extra, #wgframef52extra, #wgframef53extra, #wgframef54extra, #wgframef55extra, #wgframef56extra, #wgframef57extra, #wgframef58extra, #wgframef59extra, #wgframef60extra, #wgframef61extra, #wgframef62extra, #wgframef63extra, #wgframef64extra, #wgframef65extra, #wgframef66extra, #wgframef67extra, #wgframef68extra, #wgframef69extra, #wgframef70extra, #wgframef71extra, #wgframef72extra, #wgframef73extra, #wgframef74extra, #wgframef75extra, #wgframef76extra, #wgframef77extra, #wgframef78extra, #wgframef79extra, #wgframef80extra, #wgframef81extra, #wgframef82extra, #wgframef83extra, #wgframef84extra, #wgframef85extra {
    display: inline-block;
    float: left;
    width:50px;
    height: 60px;
    margin:5px;
}
    #glasscontainer{
    margin: 10px;
    height:50px;
    width: 45px;
    border: 1px solid #acacac;
    display: inline-block;
    float: left;
    }
    #panelcontainer2{
    margin: 10px;
    height:30px;
    width: 60px;
    display: inline-block;
    float: left;
    }
    #panelcontainerdefault{
    margin: 10px;
    height:40px;
    width: 40px;
    display: inline-block;
    float: left;
    }
    #panelcontainer1{
    margin: 10px;
    height:20px;
    width: 50px;
    display: inline-block;
    float: left;
    }
    #frametitle{
    font-size:10px;
    font-weight: 900;
    /*background-color: #d4fac6;*/
    border-bottom-color: #bfbfbf;
    border-bottom-width: 1px;
    border-bottom-style:ridge;
    }
}

@media screen and (max-width: 900px) {
    #page {
        width: 800px;
    }
    #frameid{
        width:400px;
    }
    .colorbutton{
        width:30px; height:30px;
    }
    #colortxt{
        font-size: 12px;
    }
    #wframef1, #wframef2, #wframef3, #wframef4, #wframef5, #wframef6, #wframef7, #wframef8, #wframef9, #wframef10, #wframef11, #wframef12, #wframef13, #wframef14, #wframef15, #wframef16, #wframef17, #wframef18, #wframef19, #wframef20, #wframef21, #wframef22, #wframef23, #wframef24, #wframef25, #wframef26, #wframef27, #wframef28, #wframef29, #wframef30, #wframef31, #wframef32, #wframef33, #wframef34, #wframef35, #wframef36, #wframef37, #wframef38, #wframef39, #wframef40, #wframef41, #wframef42 , #wframef43 , #wframef44 , #wframef45 , #wframef46 , #wframef47, #wframef555, #wframef355, #wframef366, #wframef61, #wframef62, #wframef63, #wframef64{
    display: inline-block;
    float: left;
    width:20px;
    height: 40px;
    margin:5px;
    }
    #framef1, #framef2, #framef3, #framef4, #framef5, #framef6, #framef7, #framef8, #framef9, #framef10, #framef11, #framef12, #framef13, #framef14, #framef15, #framef16, #framef17, #framef18, #framef19{
    display: inline-block;
    float: left;
    width:30px;
    height: 40px;
    margin:5px;
    background-color: #fff;
}
#wgframef1, #wgframef2, #wgframef3, #wgframef4, #wgframef5, #wgframef6, #wgframef7, #wgframef8, #wgframef9, #wgframef10, #wgframef11, #wgframef12, #wgframef13, #wgframef14, #wgframef15, #wgframef16, #wgframef17, #wgframef18, #wgframef19, #wgframef20, #wgframef21, #wgframef22, #wgframef33, #wgframef44, #wgframef66, #wgframef77, #wgframef88, #wgframef99, #wgframef101, #wgframef111, #wgframef121, #wgframef222, #wgframef232, #wgsashframef1, #wgsashframef2, #wgsashframef3, #wgsashframef4, #wgsashframef5, #baywindowframef1, #baywindowframef2, #baywindowframef3, #baywindowframef4, #baywindowframef5, #baywindowframef6, #wgframef12e, #wgframef6e, #wgframef66e, #wgframef7e, #wgframef10e, #wgframef101e, #wgframef11e, #wgframef111e, #wgframef1extra, #wgframef2extra, #wgframef3extra, #wgframef4extra, #wgframef5extra, #wgframef6extra, #wgframef7extra, #wgframef8extra, #wgframef9extra, #wgframef10extra, #wgframef11extra, #wgframef12extra, #wgframef13extra, #wgframef14extra, #wgframef15extra, #wgframef16extra, #wgframef17extra, #wgframef18extra, #wgframef19extra, #wgframef20extra, #wgframef21extra, #wgframef22extra, #wgframef23extra, #wgframef24extra, #wgframef25extra, #wgframef26extra, #wgframef27extra, #wgframef28extra, #wgframef29extra, #wgframef30extra, #wgframef31extra, #wgframef32extra, #wgframef33extra, #wgframef34extra, #wgframef35extra, #wgframef36extra, #wgframef37extra, #wgframef38extra, #wgframef39extra, #wgframef40extra, #wgframef41extra, #wgframef42extra, #wgframef43extra, #wgframef44extra, #wgframef45extra, #wgframef46extra, #wgframef47extra, #wgframef48extra, #wgframef49extra, #wgframef50extra, #wgframef51extra, #wgframef52extra, #wgframef53extra, #wgframef54extra, #wgframef55extra, #wgframef56extra, #wgframef57extra, #wgframef58extra, #wgframef59extra, #wgframef60extra, #wgframef61extra, #wgframef62extra, #wgframef63extra, #wgframef64extra, #wgframef65extra, #wgframef66extra, #wgframef67extra, #wgframef68extra, #wgframef69extra, #wgframef70extra, #wgframef71extra, #wgframef72extra, #wgframef73extra, #wgframef74extra, #wgframef75extra, #wgframef76extra, #wgframef77extra, #wgframef78extra, #wgframef79extra, #wgframef80extra, #wgframef81extra, #wgframef82extra, #wgframef83extra, #wgframef84extra, #wgframef85extra {
    display: inline-block;
    float: left;
    width:30px;
    height: 40px;
    margin:5px;
}
    #glasscontainer{
    margin: 10px;
    height:40px;
    width: 20px;
    border: 1px solid #acacac;
    display: inline-block;
    float: left;
    }
    #panelcontainer2{
    margin: 10px;
    height:20px;
    width: 55px;
    display: inline-block;
    float: left;
    }
    #panelcontainerdefault{
    margin: 10px;
    height:30px;
    width: 30px;
    display: inline-block;
    float: left;
    }
    #panelcontainer1{
    margin: 10px;
    height:15px;
    width: 30px;
    display: inline-block;
    float: left;
    }
    #frametitle{
    font-size:10px;
     
    font-weight: 900;
    /*background-color: #d4fac6;*/
    border-bottom-color: #bfbfbf;
    border-bottom-width: 1px;
    border-bottom-style:ridge;
    }
    #doorcenter0, #doorcenter1, #doorcenter2, #doorcenter3, #doorcenter4, #doorcenter5, #doorcenter6, #doorcenter7, #doorcenter8, #doorcenter9, #doorcenter0, #doorcenter10, #doorcenter11, #doorcenter12, #doorcenter13, #doorcenter14, #doorcenter15, #doorcenter16, #doorcenter17, #doorcenter18, #doorcenter19{
    display: inline-block;
    float: left;
    width:40px;
    height: 65px;
    margin:5px;
    background-color: #fff;
    }

}

@media screen and (min-width: 1250px) {
    #page {
        width: 1250px;
    }
}
