body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #daf2f2;
}

/*header css*/
#logo{
    float: left; background-color: #000; border-radius: 100px / 50px; width: 300px; height: 50px;
}
#logoimage{
    width: 80%; height: 80%; padding: 4px 4px;
}
header{
    
}
ul {
  text-align: left;
  float: right;
  display: inline;
  margin: 0;
  padding: 0px 4px 0px 0;
  background: #efefef;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a {
    text-decoration: none;
    color: #000;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

/*frames page*/
#container{
    width: 1100px;
    margin: 10px auto;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.21);
}
#containerhomepage{
    width: 100%;
    margin: 70px auto;
    height: 100%;
    background-color: #fff;
}
#frameid{
    width: 60%;
    height: 100%;
    float: left;
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
    background: -webkit-linear-gradient(left top, #fff , #efefef, #cbcbcb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #fff , #efefef, #cbcbcb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #fff , #efefef, #cbcbcb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #fff , #efefef, #cbcbcb); /* Standard syntax */
}
#frameid2{
    width: 50%;
    height: 500px;
    float: left;
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
    background-color: #fff;
}
#displaydoor{
    vertical-align: top; float: left; padding: 10px 10px; width: 30%;
}
#doorbox1{
    padding: 5px 5px;
}
#doorbox2{
    padding: 5px 5px;
}
#doorbox5{
    padding: 15px 15px;
}
#frame1 {
    width:140px;
    text-align:center;
    height: 190px;
    float: right;
    border: 2px solid #000;
    background-color: #fff;
}
#frame2 {
    width:200px;
    text-align:center;
    height: 370px;
    float: left;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame3 {
    width:255px;
    text-align:center;
    height: 340px;
    float: right;
    background-color: #fff;
    border: 1px solid #727272;
}
#frame4 {
    width:250px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame5 {
    width:250px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame6 {
    width:200px;
    text-align:center;
    height: 280px;
    float: left;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame7 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame8 {
    width:130px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame9 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame10 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame111 {
    width:200px;
    text-align:center;
    height: 280px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame12 {
    width:130px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame13 {
    width:130px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame14 {
    width:200px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame15 {
    width:200px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame16 {
    width:200px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame17 {
    width:250px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#frame18 {
    width:250px;
    text-align:center;
    height: 370px;
    float: right;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#defaultframe {
    width:250px;
    text-align:center;
    height: 370px;
    float: left;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.15);
}
#oval{
    margin: 0px auto;
    background-color: #fff;
    height: 12%;
    width: 95%;
    border: 1px solid #9b9b9b;
}
#oval-default{
    margin: 0 auto;
    background-color: #fff;
    height: 12%;
    width: 95%;
    margin: 5px;
    border: 1px solid #9b9b9b;
}
#oval-f1{
    margin: 0 auto;
    background-color: #fff;
    height: 12%;
    width: 95%;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #9b9b9b;
}
#left {
    float:left;
    width:50px;
    height: 270px;
    margin:5px;
    
}

#center {
    display: inline-block;
    float: left;
    width:120px;
    height: 270px;
    margin:5px;
    background-image: url('../images/D1.jpg');
    background-size: 100% 100%;
    border: 1px solid #c6c6c6;
}
#center-f1 {
    display: inline-block;
    float: left;
    width:22%;
    height: 130px;
    margin:5px;
    background-color:#fff;
    /*background-image: url('../images/D-default.jpg');*/
    background-size: 100% 100%;
    border: 1px solid #c6c6c6;
}

#right {
    float:left;
    width:18%;
    height: 270px;
    margin:5px;
    
}
#glassleft1{
    height:150px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassleft1-f10{
    height:270px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassleft1-f5{
    height:260px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassleft1-f1{
    height:130px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassleft2{
    height:110px;
    width: 50px;
    margin-top: 2px;
    border: 1px solid #9b9b9b;
}
#glassright1{
    height:150px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassright1-f5{
    height:260px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassright1-f7{
    height:270px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassright1-f1{
    height:130px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#tdglass2, #tdglass1 {
    background-color: #fff;
}
#glassright2{
    height:110px;
    width: 50px;
    margin-top: 2px;
    border: 1px solid #9b9b9b;
}
#glassleftdisplay1{
    height:170px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassleftdisplay2{
    height:110px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
    margin-top: 2px;
}
#glassrightdisplay1{
    height:150px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#glassrightdisplay2{
    height:110px;
    width: 50px;
    margin-top: 2px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}
#doorcenter0, #doorcenter1, #doorcenter2, #doorcenter3, #doorcenter4, #doorcenter5, #doorcenter6, #doorcenter7, #doorcenter8, #doorcenter9, #doorcenter0{
    display: inline-block;
    float: left;
    width:50px;
    height: 120px;
    margin:5px;
    background-color: #fff;
}
#framef1, #framef2, #framef3, #framef4, #framef5, #framef6, #framef7, #framef8, #framef9, #framef10, #framef11, #framef12, #framef13, #framef14, #framef15, #framef16, #framef17, #framef18{
    display: inline-block;
    float: left;
    width:50px;
    height: 100px;
    margin:5px;
    background-color: #fff;
}
#glasscontainer{
    margin: 10px;
    height:110px;
    width: 60px;
    border: 1px solid #acacac;
    display: inline-block;
    float: left;
}
#glass1, #glass2, #glass3, #glass4, #glass5, #glass6, #glass7, #glass8, #glass9, #glass10, #glass111, #glass12, #glass13, #glass14, #glass15, #glass16, #glass17, #glass18, #glass19, #glass20, #glass21, #glass22, #glass23, #glass24, #glass25, #glass26, #glass27, #glass28, #glass29, #glass30, #glass31, #glass32, #glass33, #glass34, #glass35, #glass36{
    height:100%;
    width: 100%;
    background-color: #fff;
}
#glass1:hover, #glass2:hover, #glass3:hover, #glass4:hover, #glass5:hover, #glass6:hover, #glass7:hover, #glass8:hover, #glass9:hover, #glass10:hover, #glass111:hover, #glass12:hover, #glass13:hover, #glass14:hover, #glass15:hover, #glass16:hover, #glass17:hover, #glass18:hover, #glass19:hover, #glass20:hover, #glass21:hover, #glass22:hover, #glass23:hover, #glass24:hover, #glass25:hover, #glass26:hover, #glass27:hover, #glass28:hover, #glass29:hover, #glass30:hover, #glass31:hover, #glass32:hover, #glass33:hover, #glass34:hover, #glass35:hover, #glass36:hover{
    height:100%;
    width: 100%;
    background-color: #e5e5e5;
    opacity: 0.5;
}
#panelcontainer1{
    margin: 10px;
    height:30px;
    width: 120px;
    display: inline-block;
    float: left;
}
#panel1, #panel2, #panel3, #panel4, #panel5{
    height:100%;
    width: 100%;
}
#panelcontainer2{
    margin: 10px;
    height:30px;
    width: 50px;
    display: inline-block;
    float: left;
}
#Hpanel1, #Hpanel2, #Hpanel3, #Hpanel4, #Hpanel5{
    height:100%;
    width: 100%;
    border: 1px solid #000;
}
#panelcontainer3{
    margin: 10px;
    height:60px;
    width: 50px;
    display: inline-block;
    float: left;
}
#Kpanel1, #Kpanel5{
    height:100%;
    width: 100%;
    border: 1px solid #000;
}
#frametitle{
    font-size:20px;
}
#doorsection{
    font-size:20px;
}
/*frames page end*/

/*Home page start*/
#homepagefont{
    font-size: 30px;
    color: #5d5d5d;
}
.colorbutton{
    width: 60px;
    height: 60px;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.showbutton{
    height: 80px; 
    width: 80px;
    font-size:15px;
    border: 1px solid #a3a3a3;
    background-color: #e0e0e0;
    border-radius: 50px;
    margin: 10px;
}
.showbutton:hover{
    background-color: #fff;
}
<!--#frame3 .glass:hover{
    opacity: 0.5;
    background-color: #c3a6a6;
}-->

#frame3 div#beforecenter:hover > #doorpanel1D1, #doorpanel2D1:hover, #doorpanel3D1:hover{
    background-color: #fa0c0c;
    opacity: 0.7;
}
#doortext{
    visibility: hidden;
}
#frame3 #frame3back{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}
