body{
    background-color: #f0f0f0;
}
#loginpage{
    width:450px;
    height: 400px;
    margin: 200px auto;
    background-color: #efefef;
    padding: 20px 0px 0px 0px;
    line-height: 90px;
}
#loginform{
    width: 400px;
    margin: 0px auto;
    background-color: #e8e8e8;
    padding:5px 5px 0px 5px;
    text-align: center;
    box-shadow: 1px 1px 5px #bababa;
    border-radius:5px;
}
#logbt{
    width:90%;
    height: 50px;
    font-size:20px;
    border: 1px solid #29bf6a;
    text-align:center;
    font-weight: bold;
    font-family: Sans-serif, Verdana;
}
#submitbt{
    width:100%;
    height: 70px;
    border: none;
    background-color: #29bf6a;
    font-size: 30px;
    font-family: Sans-serif, Verdana;
    color: #242424;
}
#loginlogo{
    font-size:40px;
    font-family: Sans-serif, Verdana;
}
#incorrect{
    color:red;
    font-size: 25px;
    text-align: center;
    line-height: 0px;
}